<div class="Login">
    <div align="center">
        <img src = "https://i.pinimg.com/originals/58/8c/ac/588cac7bd5567337fe2498a42e443e0d.png">
    </div>
    <h1>Login</h1>
    <form [formGroup] = "loginFormGroup">
        <input class = "Data" formControlName="user" type = "text" name = "User: " placeholder="Username">
        <input class = "Data" formControlName="password" type = "password" name = "Password: " placeholder="Password">
        <input class = "Boton" (click)="login()"type = "submit" name = "Login" value="Login">
        <input class = "Boton" type = "submit" name = "Login-Google" value="Login with Google" (click)="LoginGoogle()">
        <input class = "Boton" type = "submit" name = "Register" value="Register" routerLink = "/register">
    </form>
</div>

