<div class="Dashboard">
    <div align="center">
        <img src = "https://i.pinimg.com/originals/58/8c/ac/588cac7bd5567337fe2498a42e443e0d.png">
    </div>
    <h1>Dashboard</h1>
    <input class = "Data" type = "text" name = "Direction: " placeholder="Direction">
    <input class = "Data" type = "image" name = "Image: " placeholder="Add Image">
    <input class = "Data" type = "text" name = "E-mail: " placeholder="E-mail">
    <input class = "Boton" type = "submit" name = "Save" value="Save">

</div>
        
