<app-header></app-header>
<div class="Dashboard">
    <div align="center">
        <img src = "https://i.pinimg.com/originals/58/8c/ac/588cac7bd5567337fe2498a42e443e0d.png">
    </div>
    <h1>Dashboard</h1>
    <div class="agregar" *ngIf = "bandera == 1">
        <form [formGroup] = "AgregarFormGroup">
            <input class = "Data" formControlName="name" type = "text" name = "Name: " placeholder="Full Name">
            <input class = "Data" formControlName="age" type = "number" name = "Age: " placeholder="Age">
            <input #email class = "Data" formControlName="e_mail" type = "text" name = "E-mail: " placeholder="E-mail">
            <input class = "Boton Boton2" (click) ="agregar()"type = "submit" name = "Add" value="Add">
        </form>
    </div>
    <div class="modificar" *ngIf = "bandera == 2">
        <form [formGroup] = "ModificarFormGroup">
            <input class = "Data" formControlName="id" type = "number" name = "ID: " placeholder="ID">
            <input class = "Data" formControlName="name" type = "text" name = "Name: " placeholder="Full Name">
            <input class = "Data" formControlName="age" type = "number" name = "Age: " placeholder="Age">
            <input #email class = "Data"  formControlName="e_mail"type = "text" name = "E-mail: " placeholder="E-mail">
            <input class = "Boton Boton2" (click) = "modificar()" type = "submit" name = "Modify" value="Modify">
        </form>
    </div>
    <div class="eliminar" *ngIf = "bandera == 3">
        <form [formGroup] = "EliminarFormGroup">
            <input class = "Data" formControlName="id" type = "number" name = "ID: " placeholder="ID">
            <input class = "Boton Boton2" (click) = "borrar()" type = "submit" name = "Delete" value="Delete">
        </form>
    </div>
    
    <div align="center">
    <input class = "Boton" (click) = "vista_agregar()" type = "submit" name = "Add" value="Add">
    <input class = "Boton" (click) = "vista_modificar()" type = "submit" name = "Add" value="Modify">
    <input class = "Boton" (click) = "vista_borrar()" type = "submit" name = "Add" value="Delete">
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let usuario of usuarios">
          <td>{{usuario.id}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.edad}}</td>
          <td>{{usuario.correo}}</td>
        </tr>
      </tbody>
    </table>

</div>
        
